@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --blue: #39537e;
    --purple: #32398b;
    --purple2: #32398b9a;
    --blue2: #78acca; 
    --blue3: #2a92c4;
    --black: rgba(68, 68, 68, 0.783);
    --black2: #444;
    --light-color: #777;
    --bg-color: #f3f4f5;
    --border: .1rem solid rgba(134, 133, 133, 0.119);
    --box-shadow: .4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
    --box-shadow-inset: .4rem .4rem 1rem #ccc inset,
                -.4rem -.4rem 1rem #fff inset;


}

